body {
    background-color: cadetblue;
}

audio { 
    width: 300px; 
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.02);
  }

  figcaption {
      color: blueviolet;
      font-size: 20px;
      margin: 2px 0px 2px 5px;
      font-weight: bold;
  }